* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(251, 248, 248);
}


.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgb(178, 56, 109);
}

.logo span {
  color: rgb(103, 103, 187);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.nav-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.nav-actions img {
  height: 30px;
}


.btn {
  padding: 10px 20px;
  background-color: rgb(178, 56, 109);
  color: white;
  text-decoration: none;
  border-radius: 5px;
}


.signup-wrapper {
  position: relative;
}


.popup {
  position: absolute;
  top: 50px;       
  right: 0;
  display: none;
  background: transparent;
}


.popup:target {
  display: block;
}

.popup-box {
  background-color: white;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mb-num{
  width:200px;
  height:40px;
padding: 10px;
  border-radius: 10px;
  background-color: #f6f0f0;
  font-size: 16px;
}
.otp{
   width:100px;
   height: 40px;
   border-radius: 5px;
   background-color: #b7b1b1;
  font-size: 16px;



}
.grid-box {
  width: 100%;            
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 8px;
}


.bx1 {
  height: 1px;
  background-color: #ccc;
  opacity: 0.7;
}


.bx2 {
  font-size: 14px;
  color: #777;
  white-space: nowrap;
}
.close{
  position: absolute;
  top:5px;
  right:20px;
}


.google{
 width: 95%;
 padding:12px 14px;
 border: 1px solid #d0d0d0;
  border-radius: 6px;
  background-color: #fff;
  display: flex;
  align-items: center;
    justify-content: space-between;
    cursor: pointer;
  transition: all 0.2s ease;

}


.google-text {
  font-size: 16px;
  font-weight: 600;
  color: #444;
}
.google img{
  width:25px;
  height: 25px;
}

.google:hover{
    background-color: #f6f0f0;
  border-color: rgb(178, 56, 109);

}
.google:hover .google-text{
  color: rgb(178, 56, 109);
}

.slider-bg img {
  height: 600px;
  width: 100%;
  object-fit: cover;
}
