*{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(251, 248, 248);
    justify-content: center;
    text-align: center;
}

.container{
 display: grid;
 grid-template-columns: 1fr 1fr ;
 justify-content: center;
 gap:20px;
 width: 800px;

}


.product-card{
border-radius: 10px;
border:2px solid rgb(208, 182, 182);
padding: 5px;
background-color:white;
width: 300px;



}

button{
    border-radius: 20px;
    width: 50%;
    height: 30px;
    background-color: burlywood;
}